<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title | escape }} - {{ site.title | escape }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header>
    <div class="header-content">
      <img src="{{ site.cover_image | relative_url }}" alt="Capa" class="cover-image">
      <div class="profile-info">
        <img src="{{ site.profile_image | relative_url }}" alt="Minha Foto" class="profile-photo">
        <div class="author-details">
          <p><strong><a href="{{ site.linkedin_url }}" target="_blank">{{ site.author }}</a></strong></p>
          <p>{{ site.skills }}</p>
        </div>
      </div>
    </div>
  </header>

  <div class="content-wrapper">
    <div id="sidebar">
      <nav>
        <ul>
          <li><a href="{{ '/' | relative_url }}">Home</a></li>
          {% assign categories = site.data.categories %}
          {% for category in categories %}
            <li>
              <a href="{{ category.url | relative_url }}">{{ category.name }}</a>
              {% if category.children %}
                <ul>
                  {% for child in category.children %}
                    <li>
                      <a href="{{ child.url | relative_url }}">{{ child.name }}</a>
                      {% if child.children %}
                        <ul>
                          {% for grandchild in child.children %}
                            <li><a href="{{ grandchild.url | relative_url }}">{{ grandchild.name }}</a></li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div id="content">
      {{ content }}
    </div>
  </div>
  <footer>
    <p>&copy; {{ site.author }} - {{ "now" | date: "%Y" }}</p>
  </footer>
</body>
</html>
